@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&family=Karla:ital,wght@0,400;0,700;1,400;1,700&family=Megrim&display=swap");

body {
  margin: 0;
  border: 0;

  font-family: "Karla"
}

button {
  font-size: 3em;
  font-weight: bold;
  font-family: "Megrim";

  color: var(--primary-1);
  text-shadow: 0 2px var(--primary-3);
  transition: transform 0.2s, text-shadow 0.2s;

  cursor: pointer;
  background-color: rgba(0, 0, 0, 0);
  border: none;
}

button:hover {
  transform: translateY(1px);
  text-shadow: 0 1px var(--primary-3);
}