.game-background {
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;

  background-color: var(--primary-4);
  overflow: hidden;

  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.game-panel {
  min-width: 40vw;
  width: 500px;
  height: 100vh;

  background-color: var(--primary-2);
  overflow: hidden;

  color: var(--secondary-1-4);

  display: flex;
  flex-direction: column;
  align-items: center;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  
}

.game-panel > .title {
  font-family: "Megrim";
  font-weight: bold;
  font-size: 6em;

  color: var(--secondary-1-0);
  text-shadow: 0 3px var(--secondary-1-3);

  margin: 0.3em 0;
}

@media only screen and (max-aspect-ratio: 1/1) {
  .game-panel {
    width: 95vw;
  }

  .game-panel > .title {
    font-size: 3em;
  }

}
