.start-param-list {
    padding-top: 5vh;    
    padding-bottom: 5vh;    
}

.start-param {
    display: flex;
    flex-direction: row;

    width: 25vw;
    justify-content: space-between;
    margin-bottom: 20px;
    align-items: center;
}

.start-param h2 {
    font-size: 1.5em;
    color: var(--secondary-1-0);
    text-shadow: 0 1px var(--secondary-1-3);
}

.counter-control {
    font-size: 2em;
    font-weight: bold;
    color: var(--secondary-1-4);

    display: grid;
    grid-template-columns: 50px 70px 50px;
    height: 60px;

    cursor: pointer;
}

.counter-control .cctrl {
    display: flex;
    align-items: center;
    justify-content: center;
}

.counter-control .cctrl-minus {
    border-radius: 5px 0 0 5px;
    background-color: var(--primary-0);
    box-shadow: 0 5px var(--primary-4);
    transition: transform 0.2s, box-shadow 0.2s;

    padding: 6px 15px;
}

.counter-control .cctrl-value {
    color: var(--secondary-1-1);
    background-color: var(--primary-3);
    box-shadow: 0 5px var(--primary-4);

    padding: 6px 25px;
    max-width: 70px;
    box-sizing: border-box;
}

.counter-control .cctrl-plus {
    border-radius: 0 5px 5px 0;
    background-color: var(--primary-0);
    box-shadow: 0 5px var(--primary-4);
    transition: transform 0.2s, box-shadow 0.2s;

    padding: 6px 15px;
}

.counter-control .cctrl-minus:hover {
    transform: translateY(3px);
    box-shadow: 0 2px var(--primary-4);
}

.counter-control .cctrl-plus:hover {
    transform: translateY(3px);
    box-shadow: 0 2px var(--primary-4);
}

@media only screen and (max-aspect-ratio: 1/1) {
  .start-param {
    width: 85vw;
  }

}