.game-histogram {
    height: 10vw;
    width: 100%;

    margin-top: 1vw;
    padding: 0.5vw;

    background-color: var(--secondary-1-4);
    color: var(--secondary-1-1);
    border-radius: 10px;

    box-sizing: border-box;
}

.game-histogram-grid {
    display: grid;
    align-items: end;
    justify-items: center;
    grid-column-gap: 2px;
}

.game-histogram-bars {
    height: 80%;
}

.game-histogram-bars > .histo-bar {
    width: 100%;
    height: 100%;

    position: relative;
}

.histo-bar > .target-bar {
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0;

    background-color: var(--primary-0);
}

.histo-bar > .value-bar {
    position: absolute;
    bottom: 0;
    width: 70%;
    left: 15%;

    transition: height 0.5s;
    background-color: var(--primary-2);
}

.game-histogram-axis {
    height: 20%;

    box-sizing: border-box;

    margin-top: 2%;
    border-top: 5px solid var(--secondary-1-1);

    align-items: center;
}

.game-histogram-axis > span {
    font-weight: bold;
    width: 100%;
    text-align: center;
}

@media only screen and (max-aspect-ratio: 1/1) {
  .game-histogram {
    height: 30vw;
    width: 80vw;
    padding: 2vw;
  }

  .game-histogram-axis {
    font-size: 2.5vw;
    border-width: 2px;
  }

}
