.game-grid {
    width: 27vw;
    height: 27vw;

    background-color: var(--secondary-1-4);

    display: grid;

    padding: 10px;
    border-radius: 5px;
    box-sizing: border-box;
}

.game-grid .number-square {
    background-color: var(--primary-0);
    color: var(--secondary-1-1);
    font-size: 2vw;
    font-weight: bold;

    display: flex;
    justify-content: center;
    align-items: center;

    border: 8px solid var(--primary-3);
    border-radius: 5px;
    box-sizing: border-box;
    margin: 5px;

    cursor: pointer;

    transition: background-color 0.5s;
}

.game-grid .number-square.selected {
    border-color: var(--primary-0);
    background-color: var(--primary-2);
}

.game-grid .number-square.candidate {
    border-color: var(--primary-0);
    background-color: var(--primary-3);
}

.game-grid .number-circle {
    background-color: var(--secondary-1-2);
    color: var(--secondary-2-1);
    font-size: 1.5vw;
    font-weight: bold;


    display: flex;
    justify-content: center;
    align-items: center;

    box-sizing: border-box;
    border: 10px solid var(--secondary-1-4);
    border-radius: 100%;

    width: 50%;
    height: 50%;
    transform: translate(150%, 150%);
}

@media only screen and (max-aspect-ratio: 1/1) {
  .game-grid {
    width: 80vw;
    height: 80vw;
  }

  .game-grid .number-square {
    font-size: 5vw;
    border-width: 4px;
  }

  .game-grid .number-circle {
    font-size: 3vw;
    border-width: 5px;
  }

}
